<div class="container-fluid">
        <h1 class="help-h1">What we DO!</h1>
        <div class="row-help">
                <div class="card border-primary mb-3 shadow-lg" style="max-width: 18rem;">
                        <div class="card-header">Nous donnons</div>
                        <div class="card-body">                        
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua.
                                        
                                        Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris...</p>
                                        <!-- inserer une image -->
                        </div>
                </div>

                <div class="card border-success mb-3 shadow-lg" style="width: 18rem;">
                <div class="card-header">Nous enseignons</div>
                        <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                                
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris...</p>
                                <!-- inserer une image -->
                        </div>
                </div>
                        
                <div class="card border-warning mb-3 shadow-lg" style="width: 18rem;">
                        <div class="card-header">Nos projets en cours</div>
                        <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua.
                                
                                Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris...</p>
                                <!-- inserer une image -->
                        </div>
                </div>
        </div>
</div>