<div class="container-fluid">
<h1 class="help-h1 mgtop">What we DO!</h1>
<div class="row-content">
        <div class="jumbotron border-primary mb-3 shadow-lg">
                <p class="h3 text-center">We supply</p>                
                <p class="lead text-left">Nous subvenons uniquement pour le moment aux besoins quotidiens. Voici une liste exhaustive de ce que nous sommes en mesure d’apporter de facon régulière</p>   
                <ul>
                  <li>du materiel scolaire (cahiers, stylo,...)</li>
                  <li>des gouter (biscuits,jus de fruits,legumes,...)</li>
                  <li>des PPN (farine, matoke,...)</li>                          
                </ul>                
        </div>

        <div class="jumbotron border-primary mb-3 shadow-lg">
        <p class="h3 text-center">We teach</p>                
                <p class="lead text-left">Nous aimons passer du temps avec les enfants pour mieux les connaître et réciproquement. Nous sommes convaincu qu’il faille mieux apprendre à pêcher plutôt que donner le poisson selon un proverbe asiatique même si cela demande beaucoup plus de temps.</p>
                <ul>
                  <li>en leur apportant nos propres connaissances aux enfants.</li>
                  <li>en proposant des idées nouvelles aux enseignants afin d’améliorer le suivi de chaque eleve.</li>                                           
              </ul>                
        </div>
                        
</div>
</div>