<form>
    <div class="form-group">
      <label for="firstname">Email address</label>
      <input class="form-control form-control-sm" id="firstname" type="text" placeholder=".form-control-lg">
      <label for="lastname">Email address</label>
      <input class="form-control form-control-lg" id="lastname" type="text" placeholder=".form-control-lg">
      <label for="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
</form>