<div class="container-fluid">
        <h1 class="help-h1 mgtop">You can help us!</h1>
        <div class="row-content">
                <div class="jumbotron border-primary mb-3 shadow-lg" style="max-width: 18rem;">
                        <p class="h3 text-center">You can give</p>                                               
                                <p class="lead text-center">Nous aimerions pouvoir mieux nourrir et mieux équiper nos enfants. Mais nous avons besoin de votre aide. Vos dons, gérés en toute transparence, sont les bienvenus.</p>
                                <button type="button" class="btn btn-success">Donate</button>                        
                </div>                                                       
        </div>
</div>