<div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide shadow mgtop carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">      
            <%= image_tag("home1.jpg", class: "d-block w-100", alt: "First slide") %>
            <div class="carousel-caption d-md-block">
                <h1 class="small-h1">"It is more blessed to give than to receive"</h1>
                <h3 class="small-subtitle">Acts 20:35</h3>
                <p class="small-subtitle">Bapatla (India 2016)</p>
            </div>
        </div>
        <div class="carousel-item">
        <%= image_tag("home2.jpg", class: "d-block w-100", alt: "Second slide") %>
        <div class="carousel-caption d-md-block">
        <h1 class="small-h1">You are the light of the world. A town built on a hill cannot be hidden</h1>
        <h3 class="small-subtitle">Matthew 5:14</h3>
        <p class="small-subtitle">Mityana (Uganda 2019)</p>        
        </div>
        </div>
        <div class="carousel-item">
        <%= image_tag("home3.jpg", class: "d-block w-100", alt: "Third slide") %>
        <div class="carousel-caption d-md-block text-dark">
        <h1 class="small-h1 wtxt">"But seek first his kingdom and his righteousness, and all these things shall be yours as well" </h1>
        <h3 class="small-subtitle wtxt">Matthew 6:33</h3>        
        </div>
        </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="row-1">
            
            <div class="card border-primary mb-3 shadow-lg" style="max-width: 18rem;">
                <div class="card-header">Our VISION</div>
                <div class="card-body">                        
                        <p class="card-text">Ukuaji signifie “croissance” en swahili. Ce langage étant le langage le plus parlé en Afrique de l’Est, région où nous démarrons actuellement notre projet...</p>
                        <a class="nav-link" href="#vision">see more...</a>
                </div>
            </div>

            <div class="card border-success mb-3 shadow-lg" style="width: 18rem;">
            <div class="card-header">WHAT we do</div>
                <div class="card-body">
                    <p class="card-text">Nos actions sont diverses mais bien plus que tout, nous voulons apporter la parole de Jesus...</p>
                    <a class="nav-link" href="#action">see more...</a>
                </div>
            </div>
                
            <div class="card border-warning mb-3 shadow-lg" style="width: 18rem;">
                <div class="card-header">How YOU can help</div>
                <div class="card-body">
                    <p class="card-text">Vous partagez notre vision et vous avez a coeur de nous aider ? il y a plusieurs possibilites...</p>                    
                    <a class="nav-link" href="#aide">see more...</a>
                </div>
            </div>
    </div>
    <!-- vision-->
    <h1 class="help-h1 mgtop">Our vision!</h1><a name="vision"></a>
        <div class="row-content">
                <div class="jumbotron border-primary mb-3 shadow-lg">
                        <p class="h3 text-center">Grandir par la Foi.</p>  
                                <p class="lead text-center">Ukuaji signifie “croissance” en swahili. Ce langage étant le langage le plus parlé en Afrique de l’Est, région où nous démarrons actuellement notre projet, ce choix nous a paru naturel.
                                Notre mission est d’aider les enfants démunis à grandir et reprendre confiance en eux. Et nous sommes fermement convaincu que l’Evangile doit être le début de toute (re)fondation solide.
                                </p>
                                <p class="lead blockquote font-italic text-center">
                                "C’est pourquoi, quiconque entend ces paroles que je dis et les met en pratique, sera semblable à un homme prudent qui a bâti sa maison sur le roc."
                                </p>
                                <p class="blockquote-footer text-center">Matthieu 7:24</p>
                                        <!-- inserer une image -->                        
                </div>
                                
        </div>
    </div>
    <!-- Action -->
    <a name="action"></a>
    <h1 class="help-h1 mgtop">What we DO!</h1>
<div class="row-content">
        <div class="jumbotron border-primary mb-3 mr-3 shadow-lg supply">
                <p class="h3 text-center">We supply</p>                
                <p class="lead text-left">Pour l’heure nous subvenons aux besoins quotidiens. Voici une liste exhaustive de ce que nous sommes actuellement en mesure d’apporter:</p>   
                <ul>
                  <li class="lead">des vivres & du materiel scolaire (cahiers, stylo,...)</li>
                  <li class="lead">des bibles</li>                  
                </ul>
                <p>Bien entendu nous aimerions faire plus ...</p>                
        </div>

        <div class="jumbotron border-primary mb-3 shadow-lg teach">
        <p class="h3 text-center">We support</p>                
                <p class="lead text-left">Nous aimons passer du temps avec les enfants pour mieux les connaître et réciproquement. Nous sommes convaincus qu’il faille mieux apprendre à pêcher plutôt que de donner du poisson selon un proverbe asiatique, même si cela demande beaucoup plus de temps. Ainsi,</p>
                <ul>
                  <li class="lead">nous enseignons la bible.</li>
                  <li class="lead">nous donnons de notre temps.</li>                                           
              </ul>                
        </div>
                        
</div>
    <!-- Nous aider-->
    <h1 class="help-h1 mgtop">Join and help us!</h1><a name="aide"></a>
        <div class="row-content">
                <div class="jumbotron border-primary mb-3 mr-3 shadow-lg" style="max-width: 18rem;">
                        <p class="h3 text-center">by giving</p>                                               
                                <p class="lead text-center">Pour nous aider, vos dons, meme minimes, feront la difference.</p>
                                <button type="button" class="btn btn-success">Donate</button>                        
                </div>
                <div class="jumbotron border-primary mb-3 shadow-lg" style="max-width: 18rem;">
                        <p class="h3 text-center">by volunteering</p>                                               
                                <p class="lead text-center">Vous partagez nos valeurs et convictions ? Vous avez un peu de temps et beaucoup d’amour pour les enfants ? Alors rejoignez-nous !!!</p>
                                <button type="button" href="#contact" class="btn btn-success">Join us</button>                        
                </div>                                                      
        </div>
    <!-- Contact form -->
    <h1 class="help-h1">Contact us!</h1><a name="contact"></a>
    <form>
    <div class="form-group my-form">
        <div class="form-group row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Mon prenom">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Mon nom">
            </div>
        </div>      
        <div class="form-group row">
          <div class="col-md-6">
            <input type="email" class="form-control" id="email" placeholder="mon@email.com">
          </div>
        </div>
        <div class="form-group input-group">            
            <textarea class="form-control" aria-label="With textarea" placeholder="Mon message"></textarea>
          </div>
        <div class="form-group row">
          <div class="col col-md-2">
              <fieldset disabled>                                            
            <button type="button" class="btn btn-secondary">Envoyer</button>
          </fieldset>
          </div>
          <div class="col">
              <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck">
              <label class="form-check-label" for="disabledFieldsetCheck">
                Je ne suis pas un robot!
              </label>
            </div>
        </div>            
    </div>
</form>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>