<div class="container-fluid">
        <h1 class="help-h1 mgtop">Our vision!</h1>
        <div class="row-help">
                <div class="jumbotron border-primary mb-3 shadow-lg">
                        <p class="h3 text-center">Growing by faith</p>  
                                <p class="lead text-center">Ukuaji signifie “croissance” en swahili. Ce langage étant le langage le plus parlé en Afrique de l’Est, région où nous démarrons actuellement notre projet, ce choix nous a paru naturel.
                                Notre mission est d’aider les enfants démunis à grandir et reprendre confiance en eux. Et nous sommes fermement convaincu que l’Evangile doit être le début de toute (re)fondation solide.
                                </p>
                                <p class="lead blockquote font-italic text-center">
                                "C’est pourquoi, quiconque entend ces paroles que je dis et les met en pratique, sera semblable à un homme prudent qui a bâti sa maison sur le roc."
                                </p>
                                <p class="blockquote-footer text-center">Matthieu 7:24</p>
                                        <!-- inserer une image -->                        
                </div>
                                
        </div>
</div>