<div class="container-fluid">
        <h1 class="help-h1 mgtop">Our vision!</h1>
        <div class="row-help">
                <div class="jumbotron border-primary mb-3 shadow-lg">
                        <h1 class="display-4">Growing by faith</h1>                                                
                                <p class="lead">Ukuaji signifie “croissance” en swahili. Ce langage étant le langage le plus parlé en Afrique de l’Est, région où nous démarrons actuellement notre projet, ce choix nous a paru naturel d’une part. D’autre part, Ukuaji correspond tout à fait à notre vision qui traduit ainsi notre désir de croissance pour les autres et pour nous-même. Le souhait d’aider à grandir les enfants orphelins qui n’en ont pas forcément les moyens, à travers l''éducation mais aussi et surtout en leur partageant le meilleur message d’espoir qui puisse être: l’Evangile.
                                Car nous sommes convaincu en effet que pour un enfant démuni, le seul qui puisse redonner la force et le courage nécessaire pour affronter le combat de toute une vie est Jésus. Car lui seul est capable d’aimer plus que tout autre au monde.
                                C’est cette conviction profonde que nous voulons partager à chacun des enfants que nous accompagnons.
                                </p>
                                        <!-- inserer une image -->                        
                </div>
                                
        </div>
</div>