// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carouselExampleIndicators {
    opacity: 0.8;
}
.carousel-item > img {
    min-width: 80%;
    height: 80%;
}
h1 {
    font-size: 2.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.help-h1 {
    margin-top: 100px;
    text-align: center;
}
p {
    font-size: 1.5rem;
}
.row-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0; 
}
.row-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 70%;
    margin: 0 auto;
}
.card {
    margin: 10px 20px;
}
.card-text {
    text-align: justify;
}
.footer {
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  }

  // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .row-1, .row-help {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0; 
    }
    .mgtop {
        margin-top: 220px;
    }
    .small-h1 {
        font-size: 20px;
    }
    .small-subtitle {
        font-size: 14px;
    }
    .wtxt {
        color : white;
    }
 }