<footer class="footer">
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="#">Facebook</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Instagram</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Email us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Donate</a>
            </li>
        </ul>
        <ul>
            <li><a href="#">Copyright © Rado Rakotondrabe</a></li>
            <li><a href="#">Mentions legales</a></li>
        </ul>
    </footer>