<footer class="footer">
        <ul class="nav justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="#">Facebook</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Instagram</a>
            </li>
            <li class="nav-item">
            <%= link_to "Contact", home_contact_url, :class => "nav-link" %>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#">Donate</a>
            </li>
        </ul>
        <ul class="nav justify-content-center">
            <li class="nav-item"><a class="nav-link disabled" href="#">Copyright © Rado Rakotondrabe</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#">Mentions legales</a></li>
        </ul>
    </footer>